/*block front down app*/
.block-app{
	position: relative;
	color: #333;
	padding: 55px 0;
}
.block-app .block-title{
	text-align: center;
	text-transform: capitalize;
	position: relative;
	margin-bottom: 70px;
	margin-top: 0;
	font-size: 30px;
	color: #333 !important;
}
body.front .page-content .block-app h2.block-title:after {
	position: absolute;
    content: '';
    width: 170px;
    height: 20px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 5px);
    -ms-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	background-image: url('../images/oa_imgs/heartbeat_black.png') !important;
}
.block-app .block-content{
	display: table;
	width: 100%;
}
.block-app .block-content > p{
	width: 50%;
	text-align: left;
	margin-bottom: 40px;
}
.block-app .block-content > p:first-child{
	float: right;
	text-align: center;
	margin-bottom: 0;
}
.block-app:before {
	display: block !important;
  position: absolute;
  left: calc(-50vw);
  top: 0;
  width: 150vw;
  height: 100%;
  content: '';
  background: #e9eff3 no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}
.block-app .block-content p:nth-child(2){
	font-size: 20px;
}
.block-app .block-content p:last-child img{
	width: 170px;
	height: auto;
	margin-right: 30px;
}

/*block front 3 reasons*/
.block-3reasons{
	color: #333;
	padding-top: 70px;
	padding-bottom: 22px;
	display: table;
}
.block-3reasons .block-content > *{
	width: 50%;
}
.block-3reasons .block-content > p:first-child{
	float: left;
}
.block-3reasons .block-content > *:not(:first-child){
	float: right;
}
.block-3reasons .block-content > *:nth-child(2){
	font-size: 20px;
	margin-bottom: 15px;
}
.block-3reasons .block-content > h2{
	margin-bottom: 70px;
	font-size: 40px;
	position: relative;
}
.block-3reasons .block-content > h2:after{
	position: absolute;
    content: '';
    width: 170px;
    height: 20px;
    bottom: -40px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/icons/heartbeat.png);
}
.block-3reasons .block-content li:not(:last-child){
	margin-bottom: 70px;
}
.block-3reasons .block-content li img{
	float: left;
	margin-right: 30px;
}
.block-3reasons .block-content li p{
	font-size: 16px;
	color: #2c2c2c;
	font-weight: 300;
}
.block-3reasons .block-content li p:first-child{
	font-size: 19px;
	color: #333;
	font-weight: 500;
	text-transform: capitalize;
}
.block-3reasons .block-content > p{
	margin-bottom: 0;
}

/*Page contact: info*/
.contact-info{
	margin: 70px 0;
	display: table;
	width: 100%;
}
.contact-info .doctors{
	border: 1px solid #ccc;
	border-radius: 10px;
}
.contact-info .doctors .title{
	font-size: 25px;
	font-weight: 500;
	text-transform: capitalize;
	color: #333;
	padding: 20px 15px;
	text-align: center;
}


.contact-info .doctors li {
	border-top: 1px solid #ccc;
	padding: 23px 20px;
	margin: 0;
	font-size: 18px;
	/*color: #1c95de;*/
	color: #f60;
}
.contact-info .doctors li:before{
	content: '\f095';
	font-family: FontAwesome;
	margin-right: 20px;
	float: left;
	font-size: 41px;
}
.contact-info .doctors .name{
	color: #56676b;
}
.contact-info .timetable .title{
	font-size: 25px;
	font-weight: 500;
	text-transform: capitalize;
	color: #333;
	margin-bottom: 10px;
}
.contact-info .timetable ul{
	background: #8dc63f;
	/*background: #1c95de;*/
	color: #fff;
	font-size: 17px;
	padding: 0 30px 30px;
	border-radius: 10px;
}
.contact-info .timetable li{
	padding-bottom: 5px;
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	/*border-bottom: 1px solid #33ccff;*/
	border-bottom: 1px solid #fff;
}
