.product-create-wrapper {
  padding: 15px 10px 15px;
}

@media (min-width: 768px) {
  .product-create-wrapper {
    padding: 30px 30px 50px;
  }
}

.product-create-wrapper .product-create-title {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #ccc;
}

.product-create-wrapper .input-title {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.product-create-wrapper .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product-create-wrapper input[type="text"],
.product-create-wrapper input[type="number"],
.product-create-wrapper select {
  height: 40px;
  border: solid 1px #ccc;
  padding: 0 15px;
  line-height: 40px;
  margin-bottom: 28px;
  width: 100%;
}

.product-create-wrapper input[type="text"]::-webkit-input-placeholder,
.product-create-wrapper input[type="number"]::-webkit-input-placeholder {
  color: #adadad;
}

.product-create-wrapper input[type="text"]::-moz-placeholder,
.product-create-wrapper input[type="number"]::-moz-placeholder {
  color: #adadad;
}

.product-create-wrapper input[type="text"]:-ms-input-placeholder,
.product-create-wrapper input[type="number"]:-ms-input-placeholder {
  color: #adadad;
}

.product-create-wrapper input[type="text"]:-moz-placeholder,
.product-create-wrapper input[type="number"]:-moz-placeholder {
  color: #adadad;
}

.product-create-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/icons/caret-down-black.png") no-repeat;
  background-size: auto 10px;
  background-position: calc(100% - 15px) 15px;
}

.product-create-wrapper .input-status .input-title {
  margin-bottom: 15px;
}

.product-create-wrapper .input-status input[type="checkbox"] {
  display: none;
}

.product-create-wrapper .input-status input[type="checkbox"]:checked + label:before {
  content: "\f00c";
}

.product-create-wrapper .input-status label {
  padding-left: 30px;
  color: #333;
  position: relative;
}

.product-create-wrapper .input-status label:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 19px;
  height: 19px;
  border: solid 1px #d5d5d5;
  text-align: center;
  font-family: FontAwesome;
  line-height: 19px;
  color: #ff6600;
}

.product-create-wrapper .input-price {
  position: relative;
}

.product-create-wrapper .input-price:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 48px;
  background-color: #ccc;
  font-family: FontAwesome;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 40px;
}

.product-create-wrapper .input-price.sale-price:before {
  content: "\f155";
}

.product-create-wrapper .input-price.sale-percent:before {
  content: "\f295";
}

.product-create-wrapper .input-price input {
  margin-left: 48px;
  width: calc(100% - 48px);
}

.product-create-wrapper textarea {
  min-height: 128px;
  width: 100%;
  border: solid 1px #ccc;
  padding: 15px;
  margin-bottom: 28px;
  line-height: 1.5;
}

.product-create-wrapper .input-image {
  max-width: 200px;
  margin-bottom: 25px;
}

.product-create-wrapper .input-image .input-title {
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 10px;
}

.product-create-wrapper .input-image .image-uploaded {
  border: solid 4px #ebebeb;
  margin-bottom: 10px;
}

.product-create-wrapper .input-image .image-uploaded img {
  width: 100%;
}

.product-create-wrapper .input-image .btn-upload {
  height: 30px;
  width: 100%;
  background-color: #0099ff;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 0;
  line-height: 30px;
  margin-left: 0;
}

.product-create-wrapper .input-image .btn-upload i {
  margin-right: 10px;
}

.product-create-wrapper .input-image input[type="file"] {
  display: none;
}

.product-create-wrapper .input-common-info .input-title {
  padding-bottom: 25px;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: solid 1px #ccc;
}

.product-create-wrapper .input-common-form {
  padding: 15px;
  border: solid 1px #ccc;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .product-create-wrapper .input-common-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .product-create-wrapper .input-common-form input {
    width: calc(50% - 10px);
  }
  .product-create-wrapper .input-common-form input.mb0 {
    margin-bottom: 0;
  }
}

.product-create-wrapper .create-product-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 576px) {
  .product-create-wrapper .create-product-action {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.product-create-wrapper .btn {
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
  padding: 0 15px;
  min-width: 85px;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 260px;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .product-create-wrapper .btn {
    margin-left: 30px;
  }
}

.product-create-wrapper .btn-cancel {
  color: #ff6600;
  border: solid 1px #ff6600;
  background-color: transparent;
}
