
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */